arquivosplit/src/arquivo_1.csv
arquivosplit/src/arquivo_2.csv
arquivosplit/src/arquivo_3.csv
arquivosplit/src/ARQUIVO 2 PESSOAS  2024-03 - v.1.0.csv
arquivosplit/src/arquivo_4.csv
loopfile/src/deps.csv
loopfile/src/arquivo_5.csv
loopfile/src/arquivo_4.csv
loopfile/src/arquivo_3.csv
loopfile/src/arquivo_2.csv
loopfile/src/arquivo_1.csv
